:root {
    --tag_color: rgba(235, 148, 151);
}

/* .container {
    width: 1000px;
    height: auto;
} */

.header_title {
    text-align: center;
    color: rgba(140, 47, 59);
}

.header_bar {
    display: flex;
    /*Đổi trục*/
    list-style: none;
    /*Bỏ dấu chấm của li*/
    background-color: var(--tag_color);
    padding: 10px;
    /*cân đối sidebar */
    text-decoration: none;
    /*Bỏ gạch chân*/
    justify-content: center;
    /*Căn giữa các item*/
}

.header_navbar {
    margin-right: 30px;
    border-right: 1px solid;
    padding-right: 20px;

}

.header_navbar_text {
    text-decoration: none;
    color: white;
}

.img_home {
    display: block;
    width: 20px;
    height: auto;
}

.header_inbar {
    margin-right: 4px;
}

.center {
    display: flex;
}

.sidebar_left {
    flex: 1;
}

.list_menu {
    margin-top: 10px;
    background-color: var(--tag_color);
    padding: 6px;
    width: 90%;
    border-radius: 20px;
}

.center_center {
    flex: 3;
}

.title_Center1,
.title_Center2,
.title_Center3 {
    color: red;
    text-align: center;
    background-color: var(--tag_color);
    width: fit-content;
    letter-spacing: 10px;
    text-transform: uppercase;

}

.centerToptitle {
    justify-items: center;
}

.sidebar_right {
    flex: 1;
}

.img_Menu {
    list-style: none;
    margin-top: 10px;
    text-align: center;
}

.cafeImg {
    width: 100px;
    height: 100px;
    border-radius: 100px;
}

.back2Top {
    color: red;
    font-weight: bold;
}

.content_CenterBot1 {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.CenterBot1_left {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;

}

.CenterBot1_right {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.content_CenterBot2 {
    margin-top: 10px;
}

.tickCenterBot {
    user-select: none;
}

.others {
    width: 98%;
    height: 40px;
}

.buttonBot {
    margin-top: 10px;
}

.sidebar_right {
    background-color: black;
    margin-left: 10px;
    margin-top: 20px;
}

.titleCenterRight,
.titleCenterRight1,
.textImgNews1,
.titleCenterRight2,
.textImgNews2 {
    color: white;
}

.readMore {
    color: blueviolet;
}